
*{
    margin: 0;
    padding: 0;
}

body{
    margin-left: 10px;
    background-color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-item a:hover{
    color: red !important; 
}

.container{
    margin-top: 10px;
}

.card{
    margin-bottom: 10px;
}

footer{
    background-color: salmon;
    width: 100%;
    margin-top: 20%;
    text-align: center;
}